body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff7e6;
  }

  .chart-container {
    position: relative;
    height:60vh;
    width:60vw;
    margin:auto
  }


